<div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">  
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Toronto BIXI Stations</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
		<p>FilterGif is an application that allows you to make animated GIF sequences using photos you’ve taken with Instagram. 
		Just click. Click on one of your images to add it to the timeline. 
		If you want to remove an image from your timeline, just click on it in the timeline. 
		Enter the amount of time you want between pictures and then click submit to render you GIF!</p>

		<p>FilterGif was built using Python, Flask, and Instagram’s API. You can view the source code on <a href="http://github.com/djuta">GitHub</a>.</p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <p>Created by Deven Juta</p>
            </div>
        </div>
    </div>
</div>

