{% extends 'base.html' %}

{% block head %}
<link href="/static/css/content.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 class="cover-heading text-center">Pick Your Images</h2>
<p class="text-center">Click on one of your images to add it to the timeline. 
If you want to remove an image from your timeline, just click on it in the timeline. 
Enter the amount of time you want between pictures and then click submit to render you GIF!</p>

<div class="panel panel-default">
    <div class="panel-heading">Your Instagram Photos</div>
    <div id="pics" class="panel-body">
    {% for image in image_list %}
        <img class="no-select" width="150px" src={{image}} />
    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Timeline</div>
    <div id="timeline" class="panel-body" style="text-align:left;"></div>
</div>

<div class="text-center">
        <label for="time">Time Between Frames in Seconds (eg. 0.3)</label><br />
        <input id="time" name="time" type="text" /><br /><br />
        <a href="#" class="btn btn-lg btn-default" onclick="makeGif()">Make Gif</a>
</div>

{% include 'about.html' %}    
{% include 'loading.html' %}        

{% endblock %}

{% block scripts %}
<script src="/static/js/selectpics.js"></script>
{% endblock %}
