<div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">  
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Toronto BIXI Stations</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p>Toronto BIXI Stations is an application that allows you to view bike 
                and dock availability at 
                <a href="http://www.bikesharetoronto.com/">BIXI</a> 
                stations in Toronto. No need to download any crazy mobile apps, just bookmark 
                this site. All data is provided by the 
                <a href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=9e56e03bb8d1e310VgnVCM10000071d60f89RCRD">
                City of Toronto</a>.</p>
            
                <p>This application was built for an assignment at Humber College’s Web Development program. It consumes 
                XML from the city and parses it using PHP. The data is displayed using the 
                <a href="https://developers.google.com/maps/">Google Maps API</a>.</p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <p>Created by Deven Juta</p>
            </div>
        </div>
    </div>
</div>

